<h2>Todos</h2>
<ul class="todos">
  <li *ngFor="let todo of todos" (click)="onSelect(todo)">
    <div><span class="badge">{{todo.id}} </span><span [ngClass]="(todo.isComplete) ? 'completed' : 'text' "> {{todo.name}}</span></div>
    <button class="delete" title="delete todo"
(click)="delete(todo)">x</button>
  </li>
</ul>

<div>
  <label>Todo description:
    <input #todoDesc />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(todoDesc.value); todoDesc.value=''">
    add
  </button>
</div>
